<div> 
    <h1> Your characters: </h1>
    <ul class="characters_box" *ngFor="let character of characters">
        <li class="characters_stats">Name: {{character.name}}</li>
        <li class="characters_stats">Race: {{character.race}}</li>
        <li class="characters_stats">Weapon: <weapon [id]="character.id_weapon"></weapon></li>
        <li class="characters_stats">Armor: <armor [id]="character.id_armor"></armor> </li>
        <li class="characters_stats">Spells: <div *ngFor="let id_spell of character.id_spell"> 
        <spell [id]="id_spell"></spell>
        </div> <div *ngIf="character.id_spell.length == 0"> There are no spells </div> </li>
        <button routerLink="/detail/{{character.id}}">Editeaza acest caracter</button>
    </ul>
</div>