<div *ngIf="characterValue">
    <h1>Character details: </h1>
    <p>Name: <input [(ngModel)]="characterValue.name" placeholder="name"/></p>
        
    <p>Race: <input [(ngModel)]="characterValue.race" placeholder="race"/></p>
    
    <div>Weapon: </div>
    <weapon [id]="characterValue.id_weapon"> </weapon>
    <br>
    <button class="add" *ngIf="!weapons" (click)="getWeapons()">Change weapon</button>
    <div *ngIf="weapons">
        <div *ngFor="let weapon of weapons">
            <button class="options" (click)="setWeapon(weapon.id); clearWeapons()">{{weapon.name}}</button>
        </div>
        <button class="options" (click)="setWeapon(0); clearWeapons()">None</button>
    </div>

    <div>Armor: </div>
    <armor [id]="characterValue.id_armor"> </armor>
    <br>
    <button class="add" *ngIf="!armors" (click)="getArmors()">Change armor</button>
    <div *ngIf="armors">
        <div *ngFor="let armor of armors">
            <button class="options" (click)="setArmor(armor.id); clearArmors()">{{armor.name}}</button>
        </div>
        <button class="options" (click)="setArmor(0); clearArmors()">None</button>
    </div>

    <div>Spells: 
        <div *ngFor="let id_spell of characterValue.id_spell">
            <spell [id]="id_spell"> </spell>
        </div>
        <div *ngIf="characterValue.id_spell.length == 0">There are no spells</div>
    </div>
    <button class="add" (click)="clearSpells(); getOtherSpells();" *ngIf="!otherSpells">Add spells</button>
    <div *ngIf="otherSpells">
        <div *ngFor="let spell of otherSpells">
            <button class="options" (click)="addSpell(spell.id); clearSpells()">{{spell.name}}</button>
        </div>
    </div>
    <br>
    <button class="add" (click)="clearSpells(); getYourSpells();" *ngIf="!yourSpells">Remove spells</button>
    <div *ngIf="yourSpells">
        <div *ngFor="let spell of yourSpells">
            <button class="options" (click)="removeSpell(spell.id); clearSpells()">{{spell.name}}</button>
        </div>
    </div>
    
    <br>

    <button (click)="goBack()"> Inapoi </button>

</div>
