<div *ngIf="character">HP:
    <button class="reduceButton" (click)="removeHealth()">-</button> 
<div class="bar"> <div class="healthBar" [ngStyle]="{'width': hp_bar}">{{character.hp}}</div> </div> 
    <button class="addButton" (click)="addHealth()">+</button> 
</div>

<div>MP:
    <button class="reduceButton" (click)="removeMana()">-</button> 
        <div class="bar"> <div class="manaBar" [ngStyle]="{'width': mp_bar}">{{character.mp}}</div> </div> 
    <button class="addButton" (click)="addMana()">+</button>
</div>

<div class="textAlign">Money:
    <button class="reduceButton" (click)="removeMoney()">-</button>
    <img src="assets/money.png" class="sizeImage" alt="Bag of money">
    <div type="number" min="0" class="moneyBox">{{character.money}}</div>
    <button class="addButton" (click)="addMoney()">+</button>
</div>